//  TYPE STYLES

// This file is meant for the base styles of all text elements.
// There should be no references to classes in this document.




html {
	font-size: 100%;	
}

body {
	color: $base-color;
	font-family: $base-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
	word-spacing: $word-spacing;
	letter-spacing: $letter-spacing;
	* {
		text-rendering: optimizeLegibility;
	}

	a {
		color: $link-color;
		text-decoration: none;
		@include transition(all 150ms ease-in);

		&:hover { 
			color: $link-color-hover;
			text-decoration: underline;
		}

		&:active { 
			color: $link-color-active;

		}
		&:visited { 
			//color: $link-color-visited;

		}
		&:focus { 
			color: $link-color-focus;

		}
	}
}



h1, h2, h3, h4, {
	color: $heading-color;
	font-family: $heading-font;
	letter-spacing: 0px;
}

//-------------------------------------------
//   Type
//-------------------------------------------


a {
	color: $link-color;
	&:hover{
		color: $link-hover;
	}
}
h1 {
	font-size: 2.25em;  /* 16x2.25=36 */
	line-height: 1.33333333333333em; /* 48px */
}

h2 {
	font-size: 1.5em;   /* 16x1.5=24 */
}

h3 {
	font-size: 1.125em; /* 16x1.125=18 */
	line-height: 1.33333333333333em; /* 24px */
}

h4 {
	font-size: 0.875em; /* 16x0.875=14 */
	line-height: 1.71428571428571em; /* 24px */
}

p {
	font-size: 1em;		/* 16x1=16 */
	padding-bottom: 0;
}
ol {
	list-style: decimal;
	margin: 0 0 1em 2em;
	li { margin: .5em 0; }
	ol { list-style: lower-alpha; }
}
ul {
	list-style: disc;
	margin: 0 0 0 0em;
	padding-bottom: 0em;
	nav & { // remove styling for nav ul's
		@include ul-reset;
		a { text-decoration: none; }
	}
}
